body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/* Stylizacja przycisków */
button {
    background-color: #007bff; /* Zielony */
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Ciemniejszy zielony */
}

/* Stylizacja linków */
a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.document-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document-item h4 {
    margin-top: 0;
}

.document-item p {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    input[type="submit"] {
        width: 100%;
    }
}

.delete-button {
    float: right;
    margin-left: 10px;
    margin-top: -10px;
}