        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }
        .sidebar {
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 100vh;
            background-color: #182BCD;
            padding: 20px;
            box-sizing: border-box;
            color: white;
        }
        .sidebar h2 {
            color: gray;
        }
        .sidebar button {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            background: none;
            border: none;
            color: white;
            text-align: left;
        }
        .sidebar button:hover {
            background-color: #0f1a72;
            cursor: pointer;
        }
        .sidebar .bottom-buttons {
            margin-top: auto;
        }
        .content {
            margin-left: 200px;
            flex-grow: 1;
            padding: 20px;
        }

        #dynamic-content div {
            background: #f0f0f0;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        #dynamic-content h2 {
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f4f4f4;
            color: #333;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        .selected {
            background-color: #007bff !important;
            color: white !important;
        }
        table tr td.selected {
            background-color: #007bff !important;
            color: white !important;
        }
