<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Management Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_management.css') }}">
    <script>
        var productionPlanningUrl = "{{ url_for('static', filename='templates/production_planning.html') }}";
    </script>

</head>
<body>
    <div class="sidebar">
        <h2>ID: {{ user_id }}</h2>
        <button id="planning-button">Planowanie produkcji</button>
        <button>Zarządzanie jakością</button>
        <button id="manage-personnel">Zarządzanie personelem</button>
        <button>Utrzymanie sprzętu</button>
        <button>Analizy i raporty</button>
        <button id="manage-docs-button">Zarządzanie dokumentacją</button>
        <button>Optymalizacja procesów produkcyjnych</button>
        <button>Zarządzanie kosztami</button>
        <button>Komunikacja</button>
        <button id="announcement-board-button">Tablica ogłoszeń</button>

        <div class="bottom-buttons">
            <button>Ustawienia</button>
            <button id="logout-button">Wyloguj</button>
        </div>
    </div>

    <div class="content">
        <div id="dynamic-content"></div>
    </div>

<script type="module" src="{{ url_for('static', filename='js_management.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='functions.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js_noticeboard.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js_docmanagement.js') }}"></script>

</body>
</html>
