<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Planowanie produkcji</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_production_planning.css') }}">
</head>
<body>
    <h1>Planowanie Produkcji</h1>
    <div id="production-planning-form">
        <form id="planning-form" method="post" action="/api/submit-production-plan">
            <label for="product-id">ID Produktu:</label>
            <input type="text" id="product-id" name="product-id"><br><br>

            <label for="quantity">Ilość:</label>
            <input type="text" id="quantity" name="quantity"><br><br>

            <label for="deadline">Termin realizacji:</label>
            <input type="date" id="deadline" name="deadline"><br><br>

            <label for="completed-quantity">Ilość wykonana:</label>
            <input type="text" id="completed-quantity" name="completed-quantity"><br><br>

            <button type="submit" id="add-order-button">Dodaj zamówienie</button>
        </form>
    </div>
    <div id="orders-list">
    </div>

<script src="{{ url_for('static', filename='form_handler.js') }}"></script>
</body>
</html>
