<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Production Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_production.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>USERNAME</h2>
        <button id="show-schedule">Harmonogram pracy</button>
        <button>Alerty</button>
        <button>Wymiary</button>
        <button>Stanowisko</button>
        <button>Dokumentacja</button>
        <button>Komunikacja</button>
        <button id="announcement-board-button">Tablica ogłoszeń</button>

        <div class="bottom-buttons">
            <button>Ustawienia</button>
            <button>Wyloguj</button>
        </div>
    </div>

    <div class="content">
        <div id="dynamic-content"></div>
    </div>

<script type="module" src="{{ url_for('static', filename='js_noticeboard.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='harmonogram_pracy.js') }}"></script>
</body>
</html>
