<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Quality control Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_production.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>USERNAME</h2>
        <button>Harmonogram pracy</button>
        <button>Alerty</button>
        <button>Wymiary</button>
        <button>Stanowisko</button>
        <button>Dokumentacja</button>
        <button>Komunikacja</button>

        <div class="bottom-buttons">
            <button>Ustawienia</button>
            <button>Wyloguj</button>
        </div>
    </div>

    <div class="content">
        <!-- Tu umieść zawartość główną strony -->
        <h1>Quality control Panel</h1>
    </div>
</body>
</html>